.taskpaper, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.taskpaper ul {
	background-color: white;
	margin-top: 4px;
}
.taskpaper li { padding: 3px 0 2px 16px; 	list-style: none;}
.taskpaper span.project, .taskpaper span.task, .taskpaper span.note { padding: 1px 0 1px 25px; display: block; }
.taskpaper span.project { 
  background: url(../images/project.gif) 0 60% no-repeat; 
  font-size: large; 
  font-color: #333; 
  font-weight: bold;
  font-family: 'trebuchet ms', verdana, arial;
  }
